<h3>マイページ</h3>
<div>
  <%= image_tag @user.get_profile_image(200,200) %>
  <p>名前</p>
  <p><%= @user.name %><p>
  <p>紹介</p>
  <p><%= @user.introduction %></p>
</div>

<div>
  <%= link_to "編集", edit_user_path(@user.id) %>
</div>